*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Poppins", sans-serif;
    background-color: white;
}
   /* nav section styling */
.nav-area{
    display: flex;
    justify-content: space-between;
    margin: 10px 25px;
    align-items: center;
}
.nav-logo{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    font-size: large;
    font-weight: 400;
}
.nav-container{
    display: flex;
    align-items: center;
}
.Login-btn{
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;
    padding: 10px 25px;
    border-radius: 100px;
    font-size:14px;
}
.nav-summary{
    gap:15px;
    margin: 0px 20px;
    font-weight: 600;
}
.Discover-more-btn{
    text-decoration: none;
    color: black;
    background-color: rgb(244, 242, 242);
    padding: 10px 20px;
    border-radius: 100px;
    font-size:14px;
    font-weight: 600;
}
.profile-icon{
    margin: 0px 30px;
    background-color:rgb(64, 225, 225);
    padding: 8px;
    border: 5px solid rgb(83, 26, 136);
    border-radius: 50%;
}
/* property for dash  */
.dash{
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.093);
}

/* banner section styling */

.banner-image{
    width: 80vh;
    border-radius: 15px;
    height: 50vh;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 50px 180px;
    height: 55vh;
    align-items: center;
}
.banner-container{
    width: 50%;
}
.container-heading{
    font-size: 50px;
    line-height: 60px;
}
.head-detail{
    margin-top: 10px;
}
.banner-btn{
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;
    font-size: large;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
}

/* why choose us section styling */

.why-choose-us-section{
    margin: 20px 180px;  
    height: 70vh;
}
.why-choose-us-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.container-description{
    height: 35vh;
    width: 80vh;
    border: 1px solid rgba(128, 128, 128, 0.277);
    padding: 20px;
    border-radius: 10px;
}
.container-description p{
    font-size: 15px;
    color: gray;
}
.container-description h5{
    font-size: larger;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.856);
}
.container-description i{
    color: rgba(0, 0, 0, 0.856)
}
.container-description i{
    font-size: 20px;
}
.why-choose-us-headding h4{
    font-size: 40px;
}
.why-choose-us-headding p{
    font-size: 17px;
    line-height: 50px;
    margin: 0px 0px 30px 0px;
    color: rgb(62, 62, 62);
}

/* photos menu styling */

.photos-menu-section {
    display: flex;
    margin: 50px 180px;
    justify-content: space-between;
    gap: 20px;
    height: 100vh;
}

.photos-menu-section img {
    width: 100%;
    height: 60vh;
    border-radius: 15px;
}

.photos-menu {
    width: 33%;
    height: 92vh;
    border: 1px solid rgba(128, 128, 128, 0.218);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 2px 2px whitesmoke;
}

.photos-menu-section-container {
    margin-top: auto; 
    padding: 20px; 
    text-align: left; 
}

.photos-menu-section-container h4 {
    font-size: 19px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.82)
}
.photos-menu-section-container p{
    color: rgba(0, 0, 0, 0.813);
}
.photos-menu-section-butt{
    padding: 10px 20px;
    background-color: rgba(141, 162, 149, 0.14);
    color: rgba(0, 0, 0, 0.833);
    font-size: 16px;
    font-weight: 550;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}